services:
  sonarqube:
    image: sonarqube:25.11.0.114957-community
    container_name: sonarqube
    ports:
      - "9000:9000"
    environment:
      - SONARQUBE_JDBC_URL=jdbc:postgresql://db:5432/sonar
      - SONARQUBE_JDBC_USERNAME=sonar
      - SONARQUBE_JDBC_PASSWORD=sonar
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_logs:/opt/sonarqube/logs
      - sonarqube_extensions:/opt/sonarqube/extensions

  db:
    image: postgres:16.3-alpine
    container_name: sonarqube_db
    restart: always
    shm_size: 128mb
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
      - POSTGRES_DB=sonar
      - PGUSER=sonar
      - POSTGRESQL_TIMEZONE=America/Sao_Paulo
      - POSTGRESQL_LOG_TIMEZONE=America/Sao_Paulo
      - PGTZ=America/Sao_Paulo
      - TZ=America/Sao_Paulo
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

# Definição dos volumes nomeados
volumes:
  sonarqube_data:
  sonarqube_logs:
  sonarqube_extensions:
  postgresql_data:
