# Arquivos de Dependências e Instalação
node_modules
# Logs de NPM/YARN
*.log
npm-debug.log*
yarn-debug.log*

# Outputs de Build (Gerados pelo compilador/bundler)
# Para NestJS e React/Vite
dist
build
tmp

# Arquivos de Testes e Cache
coverage
.tmp
.temp

# Segredos e Arquivos de Ambiente
# Evita o commit acidental de credenciais
.env
.env.*

###########################################
# REGRAS ESPECÍFICAS POR DIRETÓRIO
###########################################
 git push -u origem main
# NestJS Backend (crypto-api)
# Geralmente o NestJS builda para 'dist', mas garantimos outras pastas
/crypto-api/coverage
/crypto-api/logs

# Infraestrutura como Código (IAC - Terraform) - CRÍTICO!
# NUNCA versionar o estado da infraestrutura
/iac/.terraform
/iac/*.tfstate
/iac/*.tfstate.*
/iac/crash.log
/iac/.terraform.lock.hcl

# IDEs e Outros
.vscode
.DS_Store
